.home{
    width: 100%;
    padding-left: 110px;
    padding-top: 100px;

    display: flex;
    align-items: center;
    justify-content: center;
}



.custom-date-picker{
    border: 2px solid var(--secondary_blue);
    padding: 8px;
    border-radius: 6px;
    cursor: pointer;
}