.Widget_1{
    width: 314px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.widget_1_block{
    height: 148px;
    width: 148px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    padding: 16px;

    border-radius: 8px;
    background-color: var(--secondary_blue);
    color: #FFF;
    font-weight: 600;

    box-shadow: 3px 10px 18px 0px rgba(0, 0, 0, 0.18);
    -webkit-box-shadow: 3px 10px 18px 0px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 3px 10px 18px 0px rgba(0, 0, 0, 0.18);
}

.widget_1_block.transparent{
    color: #000;
    background-color: #F4F9FE;
}

.widget_1_block_top{
    display: flex;
    align-items: center;
    gap: 8px;
}

.patient_number{
    font-size: 22px;
    font-weight: 700;
}